name: Build Kernel for sweet (A15)

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install dependencies (Ubuntu 24.04 compatible)
      run: |
        sudo dpkg --add-architecture i386
        sudo apt update
        sudo apt install -y bc bison build-essential ccache curl flex g++-multilib gcc-multilib git libncurses-dev libc6
